<!doctype html>
<html lang="en" ng-app="journalsApp">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <title>Medical Journals Client</title>
	    
	    <!-- build:js app/vendor.min.js -->
		<!-- bower:js -->
	    <script src="../bower_components/jquery/dist/jquery.js"></script>
	    <script src="../bower_components/angular/angular.js"></script>
	    <script src="../bower_components/angular-route/angular-route.js"></script>
	    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
	    <script src="../bower_components/angular-base64/angular-base64.js"></script>
	    <script src="../bower_components/bootstrap-sweetalert/lib/sweet-alert.js"></script>
	    <script src="../bower_components/ng-file-upload/ng-file-upload.js"></script>
	    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
	    <script src="../bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
	    <!-- endinject -->
	    <!-- endbuild -->
	    
	    <!-- build:css app/style/vendor.css -->
	   	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
	    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css"/>
	    
	    <!-- bower:css -->
		<link rel="stylesheet" href="../bower_components/bootstrap-sweetalert/lib/sweet-alert.css">
		<!-- endinject -->
		<!-- endbuild -->
		
		<!-- inject:css -->
		<link rel="stylesheet" href="app/style/main.css">
		<!-- endinject -->

		<!-- build:js app/all.min.js -->
		<!-- inject:js -->
		<script src="app/app.js"></script>
		<script src="app/templates.js"></script>
		<script src="app/config/httpProviderConfig.js"></script>
		<script src="app/config/routeProviderConfig.js"></script>
		<script src="app/constants/configurationConstant.js"></script>
		<script src="app/constants/sideBarMenuConstant.js"></script>
		<script src="app/controllers/addOrUpdateJournalController.js"></script>
		<script src="app/controllers/browseJournalController.js"></script>
		<script src="app/controllers/editUserController.js"></script>
		<script src="app/controllers/journalSubscriptionsController.js"></script>
		<script src="app/controllers/journalsController.js"></script>
		<script src="app/controllers/loginController.js"></script>
		<script src="app/controllers/manageUsersController.js"></script>
		<script src="app/controllers/registerController.js"></script>
		<script src="app/controllers/updateProfileController.js"></script>
		<script src="app/controllers/viewJournalSourceController.js"></script>
		<script src="app/directives/dirPagination.js"></script>
		<script src="app/directives/embedSrc.js"></script>
		<script src="app/directives/pwCheck.js"></script>
		<script src="app/directives/showErrors.js"></script>
		<script src="app/services/identityConverter.js"></script>
		<script src="app/services/journalService.js"></script>
		<script src="app/services/loginService.js"></script>
		<script src="app/services/roleService.js"></script>
		<script src="app/services/userService.js"></script>
		<!-- endinject -->
		<!-- endbuild -->

	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#journals">Medical journals client</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-right">
	            <li ng-show="authenticated" class="ng-hide visible-xs" ng-repeat="(location, menu) in sideBarMenu">
	            	<a ng-if="!menu.separator" ng-href="#{{ location }}">{{menu.name}}</a>
	            	<a ng-if="menu.separator" ></span><b>{{menu.name}}</b></a>
	            </li>
	            <li ng-show="authenticated" class="ng-hide"><a href="#updateProfile"><span>{{ user.firstName }} {{ user.lastName }}</span></a></li>
	            <li ng-show="!authenticated" class="ng-hide"><a href ng-click="logIn()">Sign in</a></li>
	            <li ng-show="authenticated" class="ng-hide"><a href ng-click="logOut()">Sign out</a></li>
	          </ul>
	          <form ng-show="searchVisible" class="navbar-form navbar-right">
	            <input type="text" class="form-control" ng-change="onSearch()" ng-model="searchValue" placeholder="Search...">
	          </form>
	        </div>
	      </div>
	    </nav>
	    <div class="container-fluid">
	      <div class="row">
	        <div ng-if="authenticated" class="col-sm-3 col-md-2 sidebar">
	          <ul class="nav nav-sidebar">
	            <li ng-class="{ 'active': menu.active }" ng-if="hasAnyPermission(menu.permissions)" ng-repeat="(location, menu) in sideBarMenu">
	            	<a ng-if="!menu.separator" ng-href="#{{ location }}">{{menu.name}}</a>
	            	<a ng-if="menu.separator" ></span><hr ng-if="$index > 0"><h6>{{menu.name}}</h6></a>
	            </li>
	          </ul>
	        </div>
	        <div ng-class="[{main: true}, {'col-sm-9': authenticated}, {'col-sm-offset-3': authenticated}, {'col-md-10': authenticated}, {'col-md-offset-2': authenticated}]">
	          <ng-view>Loading...</ng-view>
	        </div>
	      </div>
	    </div>
	</body>
</html>