<!doctype html>
<html lang="en" ng-app="journalsApp">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <title>Medical Journals Client</title>
	    
	    <script src="app/vendor.min.js"></script>
	    
	    <link rel="stylesheet" href="app/style/vendor.css">
		
		<!-- inject:css -->
		<link rel="stylesheet" href="app/style/main.css">
		<!-- endinject -->

		<script src="app/all.min.js"></script>

	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
	      <div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#journals">Medical journals client</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse">
	          <ul class="nav navbar-nav navbar-right">
	            <li ng-show="authenticated" class="ng-hide visible-xs" ng-repeat="(location, menu) in sideBarMenu">
	            	<a ng-if="!menu.separator" ng-href="#{{ location }}">{{menu.name}}</a>
	            	<a ng-if="menu.separator" ></span><b>{{menu.name}}</b></a>
	            </li>
	            <li ng-show="authenticated" class="ng-hide"><a href="#updateProfile"><span>{{ user.firstName }} {{ user.lastName }}</span></a></li>
	            <li ng-show="!authenticated" class="ng-hide"><a href ng-click="logIn()">Sign in</a></li>
	            <li ng-show="authenticated" class="ng-hide"><a href ng-click="logOut()">Sign out</a></li>
	          </ul>
	          <form ng-show="searchVisible" class="navbar-form navbar-right">
	            <input type="text" class="form-control" ng-change="onSearch()" ng-model="searchValue" placeholder="Search...">
	          </form>
	        </div>
	      </div>
	    </nav>
	    <div class="container-fluid">
	      <div class="row">
	        <div ng-if="authenticated" class="col-sm-3 col-md-2 sidebar">
	          <ul class="nav nav-sidebar">
	            <li ng-class="{ 'active': menu.active }" ng-if="hasAnyPermission(menu.permissions)" ng-repeat="(location, menu) in sideBarMenu">
	            	<a ng-if="!menu.separator" ng-href="#{{ location }}">{{menu.name}}</a>
	            	<a ng-if="menu.separator" ></span><hr ng-if="$index > 0"><h6>{{menu.name}}</h6></a>
	            </li>
	          </ul>
	        </div>
	        <div ng-class="[{main: true}, {'col-sm-9': authenticated}, {'col-sm-offset-3': authenticated}, {'col-md-10': authenticated}, {'col-md-offset-2': authenticated}]">
	          <ng-view>Loading...</ng-view>
	        </div>
	      </div>
	    </div>
	</body>
</html>