<h4 ng-if="journal.id">Update Journal</h4>
<h4 ng-if="!journal.id">Add Journal</h4>
<div class="row">
	<form name="formAddJournal" class="col-md-6" ng-submit="$broadcast('show-errors-check-validity') && formAddJournal.$valid && addOrUpdateJournal()" novalidate="novalidate">
	  <div class="form-group" show-errors='{ showSuccess: true }'>
	    <label for="name">Journal name</label>
	    <input type="text" class="form-control" id="name" name="name" ng-model="journal.name" required ng-model-options="{ updateOn: 'blur' }" placeholder="Journal name">
	  </div>
	  <div class="form-group" show-errors='{ showSuccess: true }'>
	    <label for="city">Description</label>
	    <textarea rows="10" type="text" class="form-control" id="description" name="description" ng-model="journal.description" required ng-model-options="{ updateOn: 'blur' }" placeholder="Description" />
	  </div>
	  <button ng-if="journal.id" type="submit" class="btn btn-primary pull-right">Update journal</button>
	  <button ng-if="!journal.id" type="submit" class="btn btn-primary pull-right">Add journal</button>
	</form>
	<form ng-if="journal.id" name="formAddRelease" class="col-md-6" ng-submit="release.submitted = true; $broadcast('show-errors-check-validity') && formAddRelease.$valid && addRelease()" novalidate="novalidate">
	  <div class="form-group" show-errors='{ showSuccess: true }'>
	    <label for="name">Release code</label>
	    <input type="text" class="form-control" id="code" name="code" ng-model="release.code" required ng-model-options="{ updateOn: 'blur' }" placeholder="Release code">
	  </div>
	  <div class="form-group">
	    <label for="name">Release file</label>
	    <div ng-class="{'has-error': release.submitted && !release.releaseFile}" ngf-drop ngf-select ng-model="release.releaseFile" class="drop-box"
	         ngf-drag-over-class="'dragover'" accept="application/pdf" ngf-pattern="'application/pdf'"><span ng-if="!release.releaseFile">Drop Pdf</span><span ng-if="release.releaseFile">{{release.releaseFile.name}}</span></div>
	  </div>
	  <button type="submit" class="btn btn-primary pull-right">Add release</button>
	</form>
</div>
<div class="row releases-container">
  <dir-pagination-controls pagination-id="releases" class="pull-right" boundary-links="true" on-page-change="loadReleases(newPageNumber - 1)"></dir-pagination-controls>
  <div class="col-md-12">
    <a href="#/releases/{{release.id}}" class="thumbnail col-md-2 text-center pull-right" pagination-id="releases" dir-paginate="release in releasesPage.content | itemsPerPage: releasesPage.size" current-page="releasesPage.number" total-items="releasesPage.totalElements">
    	{{release.code}}
    	<button title="Remove" class="btn btn-danger btn-xs pull-right" ng-click="removeRelease($event, release)">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
    </a>
  </div>
</div>