<div class="row">
	<h4 class="col-md-8">{{journal.name}}</h4>
	
	<h6 class="col-md-8">{{journal.description}}</h6>
</div>

<div class="row browse-releases-container">
  <dir-pagination-controls pagination-id="releases" boundary-links="true" on-page-change="loadReleases(newPageNumber - 1)"></dir-pagination-controls>
  <div class="col-md-12">
    <a href="#/releases/{{release.id}}" class="thumbnail col-md-2 text-center" pagination-id="releases" dir-paginate="release in releasesPage.content | itemsPerPage: releasesPage.size" current-page="releasesPage.number" total-items="releasesPage.totalElements">
    	{{release.code}}
    </a>
  </div>
</div>