<h4>Update User</h4>
<form name="formUpdateUser" class="row col-md-8" ng-submit="updateUser()">
  <div class="form-group">
    <label for="name">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" ng-model="user.firstName" placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="city">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" ng-model="user.lastName" placeholder="Last Name">
  </div>
  <div class="form-group" show-errors='{ showSuccess: true }'>
    <label for="city">Email address</label>
    <input type="email" class="form-control" id="email" name="email" ng-model="user.email" required ng-model-options="{ updateOn: 'blur' }" placeholder="Email address">
    <p class="help-block" ng-if="formUpdateUser.$dirty && formUpdateUser.email.$error.email">Invalid email address</p>
    <p class="help-block" ng-if="formUpdateUser.email.$error.alreadyExist">User with this email address is already exist</p>
  </div>
  <label for="city">Status</label>
  <div class="checkbox">
    <label>
      <input type="checkbox" id="enabled" name="enabled" ng-model="user.enabled"> Active
    </label>
  </div>
  <div class="form-group">
  		<label>Roles</label>
  		<div class="col-md-offset-1">
	        <div class="checkbox" ng-repeat="role in availableRoles">
	            <input type="checkbox" ng-disabled="role.name === 'ROLE_USER' || !hasAnyPermission('ROLE_ADMIN')" ng-model="role.checked" ng-click="onRoleClicked(role)" id="role-{{$index}}"> {{role.name}}
	        </div>
	    </div>
  </div>
  <button type="submit" class="btn btn-primary pull-right">Update</button>
</form>