<h4>My Journals</h4>
<dir-pagination-controls class="pull-right" boundary-links="true" on-page-change="loadPage(newPageNumber - 1)"></dir-pagination-controls>
<table class="table table-bordered">
	<thead>
		<tr>
			<th class="col-md-1">
				#ID 
				<a href ng-click="onSort('id')">
					<span ng-if="sortColumn !== 'id'" class="glyphicon glyphicon-sort pull-right"></span>
					<span ng-if="sortColumn === 'id' && sortType === 'asc'" class="glyphicon glyphicon glyphicon-sort-by-order pull-right"></span>
					<span ng-if="sortColumn === 'id' && sortType === 'desc'" class="glyphicon glyphicon glyphicon-sort-by-order-alt pull-right"></span>
				</a>
			</th>
			<th class="col-md-3">
				Name
				<a href ng-click="onSort('name')">
					<span ng-if="sortColumn !== 'name'" class="glyphicon glyphicon-sort pull-right"></span>
					<span ng-if="sortColumn === 'name' && sortType === 'asc'" class="glyphicon glyphicon-sort-by-alphabet pull-right"></span>
					<span ng-if="sortColumn === 'name' && sortType === 'desc'" class="glyphicon glyphicon-sort-by-alphabet-alt pull-right"></span>
				</a>
			</th>
			<th class="col-md-4">
				Description
			</th>
			<th class="col-md-1">
				Releases
			</th>
			<th class="col-md-1">
				Subscriptions
			</th>
			<th class="col-md-2">
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		<tr dir-paginate="journal in journalsPage.content | itemsPerPage: journalsPage.size" current-page="journalsPage.number" total-items="journalsPage.totalElements">
			<td>
				{{journal.id}}
			</td>
			<td>
				{{journal.name}}
			</td>
			<td>
				{{journal.description}}
			</td>
			<td>
				{{journal.journalsCount}}
			</td>
			<td>
				{{journal.subscriptionsCount}}
			</td>
			<td class="text-center vcenter">
				<button ng-if="hasAnyPermission('PERM_SUBSCRIBE_JOURNALS')" title="Open" class="btn btn-success btn-xs" ng-click="openJournal(journal)">
					<span class="glyphicon glyphicon-eye-open"></span>
				</button>
				
				<button ng-if="hasAnyPermission('PERM_MANAGE_JOURNALS')" class="btn btn-primary btn-xs" title="Update" ng-click="editJournal(journal)">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>

				<button ng-if="hasAnyPermission('PERM_MANAGE_JOURNALS')" class="btn btn-danger btn-xs" title="Remove" ng-click="removeJournal(journal)">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>
<a ng-if="!userId || user.id == userId" href="#/addJournal" class="pull-right">
	<button type="button" class="btn btn-default pull-right">Add journal</button>
</a>