<h4>Journal subscriptions</h4>
<h5>Subscribed journals</h5>
<dir-pagination-controls pagination-id="subscribedJournals" class="pull-right" boundary-links="true" on-page-change="loadSubscribedJournals(newPageNumber - 1)"></dir-pagination-controls>
<table class="table table-bordered">
	<thead>
		<tr>
			<th class="col-md-1">
				#ID 
				<a href ng-click="onSort('id'); loadSubscribedJournals(subscribedJournalsPage.number - 1);">
					<span ng-if="sortColumn !== 'id'" class="glyphicon glyphicon-sort pull-right"></span>
					<span ng-if="sortColumn === 'id' && sortType === 'asc'" class="glyphicon glyphicon glyphicon-sort-by-order pull-right"></span>
					<span ng-if="sortColumn === 'id' && sortType === 'desc'" class="glyphicon glyphicon glyphicon-sort-by-order-alt pull-right"></span>
				</a>
			</th>
			<th class="col-md-3">
				Name
				<a href ng-click="onSort('name'); loadSubscribedJournals(subscribedJournalsPage.number - 1);">
					<span ng-if="sortColumn !== 'name'" class="glyphicon glyphicon-sort pull-right"></span>
					<span ng-if="sortColumn === 'name' && sortType === 'asc'" class="glyphicon glyphicon-sort-by-alphabet pull-right"></span>
					<span ng-if="sortColumn === 'name' && sortType === 'desc'" class="glyphicon glyphicon-sort-by-alphabet-alt pull-right"></span>
				</a>
			</th>
			<th class="col-md-4">
				Description
			</th>
			<th class="col-md-1">
				Releases
			</th>
			<th class="col-md-1">
				Subscriptions
			</th>
			<th class="col-md-2">
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		<tr pagination-id="subscribedJournals" dir-paginate="journal in subscribedJournalsPage.content | itemsPerPage: subscribedJournalsPage.size" current-page="subscribedJournalsPage.number" total-items="subscribedJournalsPage.totalElements">
			<td>
				{{journal.id}}
			</td>
			<td>
				{{journal.name}}
			</td>
			<td>
				{{journal.description}}
			</td>
			<td>
				{{journal.journalsCount}}
			</td>
			<td>
				{{journal.subscriptionsCount}}
			</td>
			<td class="text-center vcenter">
				<button ng-if="hasAnyPermission('PERM_SUBSCRIBE_JOURNALS')" title="Open" class="btn btn-success btn-xs" ng-click="openJournal(journal)">
					<span class="glyphicon glyphicon-eye-open"></span>
				</button>
				<button ng-if="hasAnyPermission('PERM_SUBSCRIBE_JOURNALS')" title="Unsubscribe" class="btn btn-danger btn-xs" ng-click="unsubscribeJournal(journal)">
					<span class="glyphicon glyphicon-ban-circle"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>

<h5>Unsubscribed journals</h5>
<dir-pagination-controls pagination-id="unsubscribedJournals" class="pull-right" boundary-links="true" on-page-change="loadUnsubscribedJournals(newPageNumber - 1)"></dir-pagination-controls>
<table class="table table-bordered">
	<thead>
		<tr>
			<th class="col-md-1">
				#ID 
				<a href ng-click="onSort('id'); loadUnsubscribedJournals(unsubscribedJuornalsPage.number - 1);">
					<span ng-if="sortColumn !== 'id'" class="glyphicon glyphicon-sort pull-right"></span>
					<span ng-if="sortColumn === 'id' && sortType === 'asc'" class="glyphicon glyphicon glyphicon-sort-by-order pull-right"></span>
					<span ng-if="sortColumn === 'id' && sortType === 'desc'" class="glyphicon glyphicon glyphicon-sort-by-order-alt pull-right"></span>
				</a>
			</th>
			<th class="col-md-3">
				Name
				<a href ng-click="onSort('name'); loadUnsubscribedJournals(unsubscribedJuornalsPage.number - 1);">
					<span ng-if="sortColumn !== 'name'" class="glyphicon glyphicon-sort pull-right"></span>
					<span ng-if="sortColumn === 'name' && sortType === 'asc'" class="glyphicon glyphicon-sort-by-alphabet pull-right"></span>
					<span ng-if="sortColumn === 'name' && sortType === 'desc'" class="glyphicon glyphicon-sort-by-alphabet-alt pull-right"></span>
				</a>
			</th>
			<th class="col-md-4">
				Description
			</th>
			<th class="col-md-1">
				Releases
			</th>
			<th class="col-md-1">
				Subscriptions
			</th>
			<th class="col-md-2">
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		<tr pagination-id="unsubscribedJournals" dir-paginate="journal in unsubscribedJuornalsPage.content | itemsPerPage: unsubscribedJuornalsPage.size" current-page="unsubscribedJuornalsPage.number" total-items="unsubscribedJuornalsPage.totalElements">
			<td>
				{{journal.id}}
			</td>
			<td>
				{{journal.name}}
			</td>
			<td>
				{{journal.description}}
			</td>
			<td>
				{{journal.journalsCount}}
			</td>
			<td>
				{{journal.subscriptionsCount}}
			</td>
			<td class="text-center vcenter">
				<button title="Subscribe" class="btn btn-success btn-xs" ng-click="subscribeJournal(journal)">
					<span class="glyphicon glyphicon-ok"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>