<form name="formLogin" class="form-signin" ng-submit="formLogin.$valid && login()" novalidate="novalidate">
  <h2 class="form-signin-heading">Please sign in</h2>
  <div class="form-group" show-errors='{ showSuccess: true }'>
    <label for="name">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" ng-model="email" required autofocus>
  </div>
  <div class="form-group" show-errors='{ showSuccess: true }'>
    <label for="name">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" ng-model="password" required>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <hr>
  <div class="pull-right">
  	Don't have an account? <a href="#/register">Register here</a>
  </div>
</form>