<h4>Manage Users</h4>
<dir-pagination-controls class="pull-right" boundary-links="true" on-page-change="loadPage(newPageNumber - 1)"></dir-pagination-controls>
<table class="table table-bordered">
	<thead>
		<tr>
			<th>
				#ID 
				<a href ng-click="onSort('id')">
					<span ng-if="sortColumn !== 'id'" class="glyphicon glyphicon-sort pull-right"></span>
					<span ng-if="sortColumn === 'id' && sortType === 'asc'" class="glyphicon glyphicon glyphicon-sort-by-order pull-right"></span>
					<span ng-if="sortColumn === 'id' && sortType === 'desc'" class="glyphicon glyphicon glyphicon-sort-by-order-alt pull-right"></span>
				</a>
			</th>
			<th>
				First Name
				<a href ng-click="onSort('firstName')">
					<span ng-if="sortColumn !== 'firstName'" class="glyphicon glyphicon-sort pull-right"></span>
					<span ng-if="sortColumn === 'firstName' && sortType === 'asc'" class="glyphicon glyphicon-sort-by-alphabet pull-right"></span>
					<span ng-if="sortColumn === 'firstName' && sortType === 'desc'" class="glyphicon glyphicon-sort-by-alphabet-alt pull-right"></span>
				</a>
			</th>
			<th>
				Last Name
				<a href ng-click="onSort('lastName')">
					<span ng-if="sortColumn !== 'lastName'" class="glyphicon glyphicon-sort pull-right"></span>
					<span ng-if="sortColumn === 'lastName' && sortType === 'asc'" class="glyphicon glyphicon-sort-by-alphabet pull-right"></span>
					<span ng-if="sortColumn === 'lastName' && sortType === 'desc'" class="glyphicon glyphicon-sort-by-alphabet-alt pull-right"></span>
				</a>
			</th>
			<th>
				Email
				<a href ng-click="onSort('email')">
					<span ng-if="sortColumn !== 'email'" class="glyphicon glyphicon-sort pull-right"></span>
					<span ng-if="sortColumn === 'email' && sortType === 'asc'" class="glyphicon glyphicon-sort-by-alphabet pull-right"></span>
					<span ng-if="sortColumn === 'email' && sortType === 'desc'" class="glyphicon glyphicon-sort-by-alphabet-alt pull-right"></span>
				</a>
			</th>
			<th>
				Status
				<a href ng-click="onSort('enabled')">
					<span ng-if="sortColumn !== 'enabled'" class="glyphicon glyphicon-sort pull-right"></span>
					<span ng-if="sortColumn === 'enabled' && sortType === 'asc'" class="glyphicon glyphicon-sort-by-alphabet pull-right"></span>
					<span ng-if="sortColumn === 'enabled' && sortType === 'desc'" class="glyphicon glyphicon-sort-by-alphabet-alt pull-right"></span>
				</a>
			</th>
			<th>
				Actions
			</th>
		</tr>
	</thead>
	<tbody>
		<tr dir-paginate="user in usersPage.content | itemsPerPage: usersPage.size" current-page="usersPage.number" total-items="usersPage.totalElements">
			<td>
				{{user.id}}
			</td>
			<td>
				{{user.firstName}}
			</td>
			<td>
				{{user.lastName}}
			</td>
			<td>
				{{user.email}}
			</td>
			<td>
				{{ user.enabled ? 'Enabled' : 'Disabled' }}
			</td>
			<td class="text-center">
				<button ng-if="hasAnyPermission(['ROLE_ADMIN']) || !user.admin" class="btn btn-primary btn-xs" ng-click="editUser(user)">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
				<button ng-if="hasAnyPermission(['ROLE_ADMIN'])" class="btn btn-success btn-primary btn-xs" ng-click="viewJournals(user)">
					<span class="glyphicon glyphicon-folder-open"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>