<form name="formRegister" class="form-register" ng-submit="formRegister.$valid && register()" novalidate="novalidate">
  <h2 class="form-register-heading">Registration</h2>
  <div class="form-group" show-errors='{ showSuccess: true }'>
    <label for="name">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" ng-model="user.firstName" placeholder="First Name">
  </div>
  <div class="form-group" show-errors='{ showSuccess: true }'>
    <label for="city">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" ng-model="user.lastName" placeholder="Last Name">
  </div>
  <div class="form-group" show-errors='{ showSuccess: true }'>
    <label for="city">Email address</label>
    <input type="email" class="form-control" id="email" name="email" ng-model="user.email" required ng-model-options="{ updateOn: 'blur' }" placeholder="Email address">
    <p class="help-block" ng-if="formRegister.$dirty && formRegister.email.$error.email">Invalid email address</p>
    <p class="help-block" ng-if="formRegister.email.$error.alreadyExist">User with this email address is already exist</p>
  </div>
  <div class="form-group" show-errors='{ showSuccess: true }'>
    <label for="city">Password</label>
    <input type="password" class="form-control" id="password" name="password" ng-model="user.password" required ng-minlength="6" ng-model-options="{ updateOn: 'blur' }" placeholder="Password">
    <p class="help-block" ng-if="formRegister.$dirty && formRegister.password.$error.minlength">The user's email is required</p>
  </div>
  <div class="form-group" show-errors='{ showSuccess: true }'>
    <label for="city">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" ng-model="confirmPassword" pw-check="password" required ng-minlength="6" ng-model-options="{ updateOn: 'blur' }" placeholder="Confirm Password">
    <p class="help-block" ng-if="formRegister.$dirty && formRegister.confirmPassword.$error.pwmatch">Password does not match the confirm password.</p>
  </div>
  <button type="submit" class="btn btn-primary pull-right">Register</button>
</form>