<h4>Update Profile</h4>
<form name="formUpdateProfile" class="row col-md-8" ng-submit="formUpdateProfile.$valid && updateProfile()">
  <div class="form-group">
    <label for="name">First Name</label>
    <input type="text" class="form-control" id="firstName" name="firstName" ng-model="profile.firstName" placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="city">Last Name</label>
    <input type="text" class="form-control" id="lastName" name="lastName" ng-model="profile.lastName" placeholder="Last Name">
  </div>
  <div class="form-group" show-errors='{ showSuccess: true }'>
    <label for="city">Email address</label>
    <input type="email" class="form-control" id="email" name="email" ng-model="profile.email" required ng-model-options="{ updateOn: 'blur' }" placeholder="Email address">
    <p class="help-block" ng-if="formUpdateProfile.$dirty && formUpdateProfile.email.$error.email">Invalid email address</p>
    <p class="help-block" ng-if="formUpdateProfile.email.$error.alreadyExist">User with this email address is already exist</p>
  </div>
  <div class="form-group" show-errors='{ showSuccess: true }'>
    <label for="currentPassword">Current Password</label>
    <input type="password" class="form-control" id="currentPassword" name="currentPassword" ng-model="currentPassword" placeholder="Password">
    <p class="help-block" ng-if="formUpdateProfile.currentPassword.$error.wrongPassword">Wrong current password</p>
  </div>
  <div class="form-group" show-errors='{ showSuccess: true }'>
    <label for="newPassword">New Password</label>
    <input type="password" class="form-control" id="newPassword" name="newPassword" ng-model="profile.password" ng-minlength="6" placeholder="Password">
  </div>
  <div class="form-group" show-errors='{ showSuccess: true }'>
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" pw-check="newPassword" ng-model="confirmPassword" ng-minlength="6" placeholder="Password">
    <p class="help-block" ng-if="formUpdateProfile.$dirty && formUpdateProfile.confirmPassword.$error.pwmatch">Password does not match the confirm password.</p>
  </div>
  <button type="submit" class="btn btn-primary pull-right">Update</button>
</form>